.cart_icon {
    color: gray;
}

.amount {
   width: 100px;
   text-align: center;
}

.price {
    width: 115px;
    text-align: center;
}

.price_total_count {
    width: 134px;
    text-align: center;

}

.title {
    margin-right: 23%;
}
.price_total {
    text-transform: uppercase;
}

.categories {
    width: 500px;
    
}

.cart_item {
    cursor: pointer;
    transition: .3s all ease;
    padding: 0 20px;
    text-transform: uppercase;
    
    &:hover {
        background-color:  #aa8fd8;
        color: #fff
    }
    .book_title {
        width: 14%;
    }
    
}

h2 {
    padding: 0 12px;
    text-transform: uppercase;
}