.cart_icon {
    color: gray;
}

.amount {
   width: 100px;
   text-align: center;
}

.price {
    width: 115px;
    text-align: center;
}

.price_total_count {
    width: 134px;
    text-align: center;

}

.price_total {
    text-transform: uppercase;
}

.categories {
    width: 500px;
}

.cart_item {
    cursor: pointer;
    transition: .3s all ease;
    padding: 0 20px;
    text-transform: uppercase;
    
    &:hover {
        background-color:  #aa8fd8;
        color: #fff
    }
}

.title {
    padding: 0 20px;
    text-transform: uppercase;
}