.title {
    color:rgb(186, 0, 233);
}
.btn {
    background: rgb(186, 0, 233);
    border: none;
    margin-right: 5px;
    color: #fff;
    margin-top: 10px;
}
.form-control {
    background: transparent;
    border: 1px solid rgb(186, 0, 233);
}

.mat-form-field { 
    width: 100%;
}