.makeStyles-paper-220 .MuiButton-label {
    color: rgb(186, 0, 233);
}

.warning_icon {
    position: relative;
    top: 4px;
}

h2 {
    text-align: center;
}

.back_btn {
    text-decoration: none;
    color: rgb(186, 0, 233);
}