h1 {
    display: inline-block;
}
.title {
    margin-top: 10px;
    
}
.title_btn  {
    color:rgb(186, 0, 233);
    background: transparent;
    border:none;
}
.title_btn:focus {
    outline: none;
}

.nav {
    display: inline-block;
    position: relative;
    right: 0;
}

.nav-item a {
    color:rgb(186, 0, 233);
}
.cart {
    margin-left: 50px;
    display: inline;
}
@media (max-width: 998px) {
    h1 {
        margin-bottom: 60px;
    }
}